*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}
.app{
    display: flex;
}

.sidebar .links{
    padding-top: 100px;
}
.sidebar .links .link{
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
text-align: center;
margin-bottom: 50px;
color: gold;
font-size: 20px;

}

.sidebar .links .link:hover {
    color: red;
}
.cancel , .tracking , .room-one , .room-two , .room-three , .no-replay{
    margin-top: 100px;
}
h1{
    color: rgb(170, 14, 191);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
form input{
    margin: 5px;
    padding: 10px;
    outline: none;
}   
.note{
    width: 360px;
}
table th , tr , td{
    padding: 10px;
}



.add{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.delete{
 background-color: #f00;
    color: #fff;
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
th{
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(170, 14, 191);
    color: gold;
}
td{
    font-size: 18px;
    
}
.thead{
    display: block;
}

table{
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-left: 100px;
    text-align: center;
}
.length{
    background-color: rgb(196,47,217);
    color: gold;
    padding: 10px;
    font-size: 25px;
    width: max-content;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    display: inline-block;
    margin-left: 400px;
    

}
.l{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-user{
    font-size: 40px;
    color: red;
    font-weight: bold;
    width: max-content;
    text-align: center;
}
.edit{
    background-color: rgb(118, 172, 36);
    color: #fff;
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    letter-spacing: 1px;
    font-size: 14px;
    margin-right: 10px;

}
.no-users{
    font-size: 25px;
    font-weight: bold;
    color: #000;
    background-color: #F8D7DA;
    padding: 20px 70px;
    border-radius: 10px;
    text-align: center;
    margin-left: 50px;
    width: 60%;
    margin: auto;
}

.home{
    display: flex;
    justify-content: center;
    background-image: url(../src/images/background.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home h2{
   font-size: 50px;
   color: rgb(170, 14, 191);
}
.home h2 span{
    color: gold;
}
form{
    margin-left: 150px;
}
.english-rooms{
    width: 22%;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    background-color: rgb(196,47,217);
    color: gold;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.english{
    margin-top: 50px;
}
.english-room{
    margin-top: 50px;
}
.sidebar{
    height: 100vh;
    background-color: rgb(170, 14, 191);
    width: 150px;
    position: sticky;
    top: 0;
    transition: all 0.5s linear;
    margin: 0;
}
.iconn{
    font-size: 30px;
    color: #ddd;
    background-color: #000;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.iconn.sm{
    position: absolute;
    right: 10px;
    top: 10px;
}
.iconn.bg{
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 10px;
}
.edit-input{
padding: 5px;
width: 100px;
}
.update{
    background-color: rgba(11, 11, 171, 0.536);
    color: #fff;
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    letter-spacing: 1px;
    font-size: 14px;
    margin-right: 10px;
}

.login{
    margin-left: 450px;
    margin-top: 50px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(205,29,253,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
    padding: 50px;
    height: 400px;
    width: 400px;
    text-align: center;
    color: #fff;
}
.login h1{
    font-size: 40px; 
    color: #ffff;
}
.login h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.login .content{
    position: relative;

}

.login .content input{
    padding: 10px;
    margin: 10px;
    border: none;
    width: 300px;
    height: 20px;
}

.login .content input:focus{
    outline: none;
}
.login .content i{
    position: absolute;
    color: #000;
    left: 4px;
    top: 13px;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
}
.login-btn{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 300px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 22px;
}
.error-login{
    color: #f00;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;

}
